<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style" %>
	<title></title>
</head>
<body>
	<div id = "wrapper">
		<div id = "yourgold">
			<h3> Your Gold:</h3>
			<div id = "total">
				<p> {{total}} </p>
			</div>
		</div>
	
	
<div class = "buildings">	
	<h2> Farm </h2>
	<h3>(earns 10 - 20 golds)</h3>
<form action='/process1', method = 'post'>
	<input type = "hidden" name="building" value ="farm">
	<input type = "submit" value = 'Find Gold!'>
</form>	
</div>
<div class = "buildings">
	<h2> Cave </h2>
	<h3>(earns 5 - 10 golds)</h3>	
<form action='/process1', method = 'post'>
	
	<input type = "hidden" name="building" value ="cave">
	<input type = "submit" value = 'Find Gold!'>
</form>	
</div>
<div class = "buildings">
	<h2> House </h2>
	<h3>(earns 2 - 5 golds)</h3>	
<form action='/process1', method = 'post'>
	<input type = "hidden" name="building" value ="house">
	<input type = "submit" value = 'Find Gold!'>
</form>	
</div>
<div class = "buildings">
	<h2> Casino </h2>
	<h3>(earns/takes 0 - 50 golds)</h3>	
<form action='/process1', method = 'post'>
	<input type = "hidden" name="building" value ="casino">
	<input type = "submit" value = 'Find Gold!'>
</form>	
</div>
<h4>Activities:</h4>
<div id = "log">
	{% for x in range(0,count)%}
		{% if statementlist[x+1][1] == 1%}
			<h4 id = "green">{{statementlist[x+1][0]}}</h4>
		{%elif statementlist[x+1][1] == 0%}
			<h4 id = "red">{{statementlist[x+1][0]}}</h4>
		{% endif %}
	

	{% endfor %}
	

</div>
	

</div>
</body>
</html>
